body{
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

label.up{
	color:black;
	font-weight:bold;
}

#error
{
	width:1000px;
	margin-left:100px;
	font-size:20px;
	color:red;
}

#menu
{
	width:990px;
	margin:0px auto;
	text-align:center;
	border-bottom:1px solid #CCC;
}

#menu a
{
	text-decoration:none;
	display:incline-block;
	color:black;
	padding:20px;
	font-size:20px;
	font-weight:bold;
}

#menu a:hover
{
	color:#000;
}


	
	
.table2{
	position:relative;
    left:40%;
	top:120px;
}
	  