body{
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

label.up{
	color:black;
	font-weight:bold;
}


up{
	color:blue;
	font-weight:bold;
	font-size:20px;
}

#error
{
	width:1000px;
	margin-left:100px;
	font-size:25px;
	color: red;
}

.table{
	width:800px;
	height:600px;
	background-image:url(../images/Pet.jpg);
	background-repeat:no-repeat;    
	margin:100px auto;
	min-height:560px;
	margin-top:100px;
	border:1px solid #000000;
	border-bottom:3px solid #000000;
	border-radius:5px;
	
	   }
	
.wordv1{
	color: blue;
	font-size: 60px;
	
}
	

.table7{
	
position: relative;
      left: 100px;
      top: 20px;
	  
	   
	   }
	   

	   
.table3{
	
position: relative;
      left: 300px;
      top: 150px;
	   
	   
	   }
	   
	   
	   
	   
.create{
	position: relative;
      left: 250px;
      top: 80px;
}

.1{
	position: relative;
      left: 20px;
      top: 80px;
}


.word1{
	font-size:40px;
	font-weight:bold;
	font-style:inherit;
	font-family:euphoria-script;
	color:#000000;
	
}



.provider{
	position: relative;
    left: 250px;
	top: 70px;
	color:blue; 
}
