.i_header{width:100%;height:88px;background:url(../images/head_bg.png);position:fixed; z-index:999999;left:0;top:0;}
.header{width:100%;height:89px;background:url(../images/head_bg.png); z-index:999999;left:0;top:0;border-bottom:1px solid #d2d2d2}
.header .logo{float:left;margin-top:18px; margin-left:0px;}
.header .logo a{display:block;}
.nav{float:right;}
.nav ul{padding-top:20px;}
.nav li{float:left;}
.nav li a{display:block;line-height:64px;font-size:18px;color:#222;padding:0 25px;}
.nav li a:hover,.nav li a.curr{color:#1bbbff;}

/*banner*/
.banner{width:100%;height:660px;overflow:hidden;position:relative;margin-top:84px;}
.banner .pic{z-index:0}
.banner .pic li{width:100%;height:660px; display:block}
.banner .pic li a{width:100%;height:660px; display:block}
.banner .hd{width:100%;position:absolute;bottom:15px;text-align:center;font-size:0;z-index:99999}
.banner .hd li{margin:0 4px;background:#c4c7c8;height:15px;overflow:hidden;width:15px;cursor:pointer;display:inline-block;*display:inline;zoom:1;border:1px solid #c4c7c8}
.banner .hd .on{background:#fff;background:#fff;border:1px solid #79b8db}


.banner .prev,.banner .next{width:40px;height:60px;margin:-60px 0 0;display:none;background:url(../images/ad_ctr.png) no-repeat 0 0;position:absolute;top:50%;z-index:10;cursor:pointer;text-indent:-9999px;filter:alpha(opacity=20);opacity:0.2}
.banner .prev{left:0}
.banner .next{background-position:0 -60px;right:0}
.banner .prev:hover,.banner .next:hover{filter:alpha(opacity=50) !important;opacity:0.5 !important}

.table{
	width:1000px;
	background-image:url(../images/Pet.jpg);
	background-repeat:no-repeat;    
	margin:100px auto;
	min-height:600px;
	margin-top:100px;
	border:1px solid #000000;
	border-bottom:3px solid #000000;
	border-radius:5px;
}
	
	
.table2{
	
position: relative;
      left: 300px;
      top: 60px;
	   
	   
	   }
	   
.word{
	color: blue;
	font-size: 50px;
	text-align: left;
}

.main{width:1184px; margin:0 auto;}

.btn {
  float:left;
  cursor: pointer;
  display: block;
  margin: 0 40px;
  width: 300px;
  height:320px;
  position: relative;
  border:1px solid #dedede;
  background: #fff;
  position: relative;
  transition: all 0.2s linear 0s;
  z-index: 1;
}

.footer{
	width:100%;
	height:75px;
	margin:100px auto;
	margin-bottom:0px;
	border:1px solid #000000;
	border-bottom:3px solid #000000;
	border-radius:3px;
	background-color:#f0f0f5;
}

#contact_info{
	width:20%;
	height:100%;
	margin:0% auto;
	float:left;
}


#contact_link{
	width:10%;
	height:100%;
	left:800px;
	float:right;
	padding-top:25px;
}





.btn p{text-align:center;padding:20px;}
.btn h2{text-align:center;font-weight:normal;line-height:34px;padding:8px;}
.btn:hover {
  text-decoration: none;
  -webkit-box-shadow: 0 30px 50px rgba(0,0,0,0.1);
	box-shadow: 0 30px 50px rgba(0,0,0,0.1);
	-webkit-transform: translate3d(0, -2px, 0);
	transform: translate3d(0, -2px, 0)
}


