body{
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

label.up{
	color:black;
	font-weight:bold;
}

#error
{
	width:1000px;
	margin-left:50px;
	font-size:20px;
	color:red;
}

#error_new
{
	width:1000px;
	margin-left:20px;
	font-size:20px;
	color:red;
}

#menu
{
	width:990px;
	margin:0px auto;
	text-align:center;
	border-bottom:1px solid #CCC;
}

#menu a
{
	text-decoration:none;
	display:incline-block;
	color:black;
	padding:20px;
	font-size:20px;
	font-weight:bold;
}

#menu a:hover
{
	color:#000;
}

.include{
	background-image: url(../images/Pet.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height:900px;
	margin:0px auto;
	width:80%;
	margin-top:4%;
	margin-bottom:5%;
	border:1px solid #000000;
	border-bottom:3px solid #000000;
	border-radius:5px;

}

.table_info{
	margin:0px auto;
	margin-top:3%;
	padding-left:60px;
	width:60%;    
	height:80%;
	border:1px solid #000000;
	border-bottom:3px solid #000000;
	border-radius:5px;
	background-color:white;
}

.table2{
	position:relative;
    left:40%;
    top:120px;
}

.table3{
    position:absolute;
	margin-left:18%;
    top:90%;
}


#pages{
	margin-left:5%;
	font-size:20px;
	float:left;
}

#totalpage{
	margin:20px auto;
	margin-left:40%;
	width:40%;
}

.info p{
	color:black;
	
	font-size:30px;
	text-align:center;
}

.info{
	background-color:red;
	padding:10px;
}

#my_map{
	margin-left:15%;
	border:1px solid #000000;
	border-bottom:3px solid #000000;
	border-radius:5px;
	background:#f2f2f2;
	float:left;
}


#img_div{
	width:400px;
	height:300px;
	margin-top:5%;
	margin-left:20%;
	background-color:white;
}

#text_div{
	width:400px;
	height:180px;
	margin-top:0%;
	margin-left:20%;
	background-color:white;
}

#text_div p{
	font-size:20px;
}

#table_arrange{
	margin:0px auto;
	margin-top:4%;
	width:90%;
}

#table_arrange table,tr,th,td{
	border:1px solid black;
	font-size:15px;
}

#debt_form{
	margin:0px auto;
	margin-top:1%;
	font-size:15px;
	width:90%;
}